# Ignore everything 
* 
# But descend into directories 
!*/ 
# Recursively allow files under subtree 
!*/Interface/**
!*/WTF/**
# You can be specific with these rules 
#!/somether/deep/path/** 
!.gitignore
